:root {
	--soft-blue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);
	--cyan-hover: hsla(178, 100%, 50%, 0.5);

	--very-dark-blue-main-bg: hsl(217, 54%, 11%);
	--very-dark-blue-card-bg: hsl(216, 50%, 16%);
	--very-dark-blue-line: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);

	--p-size: 1.125rem;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background-color: var(--very-dark-blue-main-bg);
	color: var(--soft-blue);
	font-size: var(--p-size);
	font-family: "Outfit", sans-serif;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto 1.5rem;
}

article {
	background-color: var(--very-dark-blue-card-bg);
	padding: 1.5rem;
	max-width: 21.875rem;
	border-radius: 1rem;
	margin: 1rem auto;
}

img.equilibrium {
	display: block;
	max-width: 100%;
	border-radius: 0.5rem;
}

h1 {
	font-size: 1.375rem;
	font-weight: 600;
}

.description {
	font-weight: 300;
	line-height: 1.5;
}

.details {
	display: flex;
	justify-content: space-between;
	font-weight: 400;
	font-size: 1rem;
}

.price {
	font-weight: 600;
	color: var(--cyan);
}

div.price,
div.time-left {
	display: flex;
	align-content: center;
	gap: 0.5rem;
}

footer.nft-author {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1rem;
	padding: 1rem 0 0;
	border-top: 1px var(--very-dark-blue-line) solid;
	margin-top: 2rem;
}

img.avatar {
	display: block;
	max-height: 2rem;
	border: 1px var(--white) solid;
	border-radius: 100%;
}

body > footer {
	flex-grow: 0;
	font-size: 0.75rem;
	margin-bottom: 0.5rem;
}

a {
	color: var(--white);
	text-decoration: none;
}

a:hover {
	color: var(--cyan);
	transition: 0.5s;
}

.avatar-container {
	position: relative;
	display: block;
}

div.svg-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 0.5rem;
}

.avatar-container svg {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.avatar-container:hover svg {
	opacity: 1;
	transition: 0.5s;
}

.avatar-container:hover div.svg-wrapper {
	background-color: var(--cyan-hover);
	transition: 0.5s;
}

@media (max-width: 350px) {
	.details {
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
	}
}
